<div>
  <a class="link" href="https://github.com/justcoddev/dados.git" target="_blank">
    <div class="icono">
      <i class="fa-brands fa-github fa-2xl"></i>
      <span class="github"> Github</span>
    </div>
  </a>
</div>
<div class="jumbotron text-center">
  <button class="btn btn-success btn-lg" (click)="tirarDados()">Tirar Dados</button>
  <br />
  <img class="img" [src]="dadoIzquierda" alt="Dado Izquierda">
  <img class="img" [src]="dadoDerecha" alt="Dado Derecha">
  <h1 *ngIf="numero1 === numero2"><span class="badge bg-success">GANASTE</span>
  </h1>
</div>
