/* clase que fue eliminada en v5 */
.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}

.img {
  width: 200px;
  height: 200px;
  margin: 30px;
  background-color: blueviolet;
  border-radius: 1rem;
}

a {
  text-decoration: none;
  color: blueviolet;
  background-color: white;
}

.icono {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
  margin: 10px;
}


@media screen and (min-width: 768px) {
  .github {
    display: none;
  }

  .icono {
    top: 0;
    right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .github {
    display: inline;
  }

  .icono {
    /*
    Para izquierda
    top: auto;
    right: auto;
    bottom: 0;
    left: 0; */
    top: 0;
    right: 0;

  }
}
